
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-img {
    height: 104px;
}

.main-message {
    display: flex;  
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: auto;
}


.message-bacground {
    background-color: #E9E9E9;
    width: 294px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
    border: 1px;
}

.message-text {
    width: 90%;
    margin: 0 auto;
    color: black;
}

.triangle{
    border: 20px solid transparent; 
    border-bottom: 20px solid #E9E9E9;
} 


.frt-btn {
    height: 44px;
    border-radius: 8px;
}

.text-btn {
    color: #5DC5FF
}

.scd-btn {
    height: 44px;
    margin-top: 18px;
    background-color: #00AA9F;
    color: #FFFFFF;
}

.scd-btn:active {
    background-color: #00c5b8;
}

.bottom-buttons {
    width: 95%;
    margin-bottom: 18px;
}

.main-home-btns {
    padding: 18px 18px;
    height: 500px;
}

.first-row-btns {
    width: 100%;
    margin-bottom: 14px;
}

.row-btns {
    border-radius: 21px;
    background: #00AA9F;

}

.home-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    margin: 0 10px;
}

.home-btns {
    line-height: 28px;
    margin: 0;
    color: #FFFFFF;
}

.work-btn {
    background-color: #A7A7A7;
}