.card {
    width: 95%;
    /* background-color: aqua; */
    border-radius: 15px;
    margin: 5px 0;
}

.emoji{
    padding-left: 12px;
}

.card-content {
    padding-right: 15px;
}

.card-container {
    padding: 4px 0;
    display: flex;
    flex-direction: row;
}

.card-header {
    color: #000;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.062px; /* 99.322% */
    letter-spacing: -0.259px;
}

.card-description {
    color: #626262;

    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
}